{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
  
    <h1>{{ page.title }}</h1>

    <div class="jumbotron">
      <h1 class="display-4">Playas Región Central</h1>
      <p class="lead"> Esta lleno de playas hermosas. Los vientos alisios del norte, la ausencia de montañas cercanas al mar y la arena fina</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <p class="meta">{{ page.nombre_playa }}</p>

    <div class="intro">{{ page.intro }}</div>
    <p class="meta">{{ page.nombre_playa }}</p>

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}


    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
    

{% endblock %}